@font-face {
  font-family: "Roboto-medium";
  src: url("../fonts/Roboto-medium.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto-regular.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*=icon-]:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "A";
}

.icon-vk:before {
  content: "B";
}

.icon-insta:before {
  content: "C";
}

.icon-facebook:before {
  content: "D";
}

.icon-close:before {
  content: "E";
}

html {
  max-width: 100%;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow-x: hidden;
  }
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-size: 16px;
    line-height: 20px;
    color: #1B1B1B;
    text-align: center;
    max-height: 2180px;
  }
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  max-width: 100%;
  margin-top: 37px;
}
@media (min-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 19px;
  /* identical to box height */
  /* Black */
  color: white;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  height: auto;
  border-style: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* generic style*/
.is-animated {
  transition: all 500ms ease-in;
}

header {
  position: relative;
  margin-bottom: 28px;
}
@media (min-width: 1200px) {
  header {
    background: #fff;
    z-index: 1;
    opacity: 0.95;
  }
}

.main-header {
  margin-top: -7px;
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 100%;
    margin-bottom: 29px;
  }
}

.main-navigation-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .main-navigation-wrapper {
    width: 1440px;
    margin-bottom: 46px;
    min-height: 90px;
    margin-top: -8px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}

.container-header {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  justify-content: space-between;
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .container-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-width: 1440px;
    flex-direction: row;
  }
}

.main-header-logo {
  min-height: 40px;
  margin-top: 1px;
  margin-left: 2px;
}
@media (min-width: 1200px) {
  .main-header-logo {
    align-self: center;
    width: 120px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  p {
    width: 120px;
  }
}

@media (min-width: 1200px) {
  .main-link {
    list-style: none;
    margin: 0 auto;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .img-logo {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .img-logo:hover {
    transform: scale(1.2);
    background-color: #dbd6d6;
  }
}

.main-header li {
  list-style: none;
}

@media (min-width: 1200px) {
  .menu-navigation {
    margin-right: -26px;
    display: flex;
    width: 500px;
  }
}

.site-navigation, .user-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .site-navigation, .user-navigation {
    min-height: 90px;
  }
}

.main-navigation-wrapper .container .menu-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .main-navigation-wrapper .container .menu-navigation {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    padding-right: 17px;
  }
}

.user-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .user-navigation {
    display: flex;
    text-align: center;
  }
}

.site-navigation a, .user-navigation a {
  display: none;
}
@media (min-width: 1200px) {
  .site-navigation a, .user-navigation a {
    display: flex;
    padding: 12px 15px;
    vertical-align: middle;
    font-family: Roboto-medium, serif, serif;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    color: #1B1B1B;
  }
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #dbd6d6;
  padding: 12px 20px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #dbd6d6;
  padding: 12px 30px;
}

.user-navigation .login-link {
  display: none;
}
@media (min-width: 1200px) {
  .user-navigation .login-link {
    display: flex;
    padding: 12px 30px;
    width: 106px;
    height: 43px;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
  }
}

.site-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .user-navigation {
    align-items: center;
    margin: 0 25px;
    padding: 0;
    list-style: none;
  }
}

main {
  align-content: center;
  margin-top: 7px;
}

img.main-page-logo {
  max-width: 269px;
  align-self: center;
  padding: 0;
  margin: 0 55px;
}
@media (min-width: 1200px) {
  img.main-page-logo {
    min-width: 397px;
    margin: 0 auto;
    align-self: center;
  }
}

.is-animated {
  transition: all 500ms ease-in;
}

.is-desktop {
  display: none;
}
@media (min-width: 1200px) {
  .is-desktop {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .is-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .is-desktop {
    display: none;
  }

  .is-tablet {
    display: none;
  }

  body {
    width: 100vw;
  }

  .is-mobile {
    max-width: 335px;
    font-family: Roboto-regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #494848;
    margin: 8px 3px;
  }
}
.main-footer {
  margin-top: 58px;
  position: relative;
  min-width: 100vw;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  min-height: 126px;
  background: #3f3d56;
}
@media (min-width: 1200px) {
  .main-footer {
    position: relative;
    min-width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    margin-top: 60px;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 126px;
    background: #3f3d56;
  }
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
@media (min-width: 1200px) {
  .main-footer .container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
    align-content: center;
  }
}

.copyright-wrap {
  margin-left: -3px;
}
@media (min-width: 1200px) {
  .copyright-wrap {
    margin-left: 0;
    align-self: center;
    text-align: center;
  }
}

.footer__copyright {
  width: 155px;
  font-family: Roboto-regular, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.4;
  left: 0;
  margin: 10px 0 auto;
}
@media (min-width: 1200px) {
  .footer__copyright {
    width: 155px;
    font-family: Roboto-regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.4;
    left: 0;
    margin-left: 38px;
    margin-top: 2px;
  }
}

.footer__social-links {
  margin: 5px -8px auto;
  display: flex;
  justify-content: space-around;
  width: 137px;
  align-items: center;
  height: 50px;
  background: #3f3d56;
  line-height: 19px;
  font-size: 28px;
}
@media (min-width: 1200px) {
  .footer__social-links {
    display: flex;
    justify-content: space-around;
    width: 137px;
    align-items: center;
    height: 50px;
    background: #3f3d56;
    line-height: 19px;
    margin: 0 34px 0 0;
    font-size: 28px;
  }
}

.footer__social-links a:hover {
  transform: scale(1.4);
  color: #dcc59e;
  cursor: pointer;
}

.menu__button {
  font-size: 32px;
  color: #000066;
}

.menu__mobile.is-active {
  top: 10px;
  background: #FFFFFF;
  opacity: 1;
  pointer-events: all;
}

.menu__mobile {
  min-width: 99Vw;
  height: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.menu__mobile-link {
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  line-height: 42px;
  display: block;
  text-align: left;
  margin: 50px 20px;
  cursor: pointer;
}

.is-animated {
  transition: all 500ms ease-in-out;
}

a.menu__mobile.is-animated {
  position: relative;
  font-size: 34px;
  line-height: 40px;
  display: block;
  color: #222;
  text-align: left;
  margin-bottom: 35px;
  width: 290px;
}

.menu__mobile-close.icon-close.is-mobile {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  /*z-index: 1;*/
}

.menu__mobile-wrapper {
  position: relative;
  border: 1px solid rgba(178, 187, 187, 0.5);
  background: #fff;
}

.menu__mobile-wrapper div {
  align-items: center;
}

.modal__form {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.modal__form.is-active {
  opacity: 1;
  pointer-events: all;
}

.modal__form.is-closed {
  opacity: 0;
  pointer-events: none;
}

.modal__form.is-active .modal__form-wrapper {
  transform: translateY(0);
}

.modal__form.is-closed .modal__form-wrapper {
  transform: translateY(-150%);
}

.modal__form-wrapper {
  background: #fff;
  position: absolute;
  top: 0;
  width: 504px;
  margin-top: 100px;
  height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition-delay: 500ms;
  z-index: 10;
  border-radius: 10px;
}

.modal__form-wrapper {
  width: 504px;
  height: 668px;
}

.modal__form-form {
  width: 504px;
  height: 668px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
  z-index: 3;
  border-radius: 10px;
}

input {
  width: 350px;
  height: 44px;
  border: 1px solid #D0CDE1;
  box-sizing: border-box;
  border-radius: 6px;
  padding-inline: 12px;
  margin-bottom: 20px;
}

.password__wrap {
  display: flex;
  width: 350px;
  border: 1px solid #D0CDE1;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 20px;
}

.forgot__password {
  display: block;
  color: #508E87;
  font-size: 16px;
  margin-top: -50px;
  border: none;
  background: transparent;
  align-self: flex-end;
  margin-right: 90px;
}
.forgot__password.forgot__password:hover {
  transform: scale(1.2);
}

.autorize {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
}

.modal__form-send {
  width: 126px;
  height: 51px;
  background: #E5E7F0;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.modal__form-close.icon-close {
  position: relative;
  margin-right: 35px;
  display: flex;
  align-self: flex-end;
  margin-bottom: 30px;
  color: #828282;
  font-size: 36px;
}

.modal__form-close.icon-close:hover {
  transform: scale(1.2);
  background-color: #dbd6d6;
  border: 1px solid rgba(27, 27, 27, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

.modal__form_rectangle {
  width: 350px;
  height: 1px;
  background: #DEDBF1;
}

.about-section {
  margin: 0 -3px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .about-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.container-about {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .container-about {
    margin: 0 auto;
    text-align: center;
  }
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  margin: 39px 0 9px 0;
  min-height: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
@media (min-width: 1200px) {
  h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    margin-top: 60px;
    min-height: 77px;
    margin-bottom: 30px;
  }
}

.description {
  padding-left: 20px;
  max-width: 340px;
  font-family: Roboto-regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #494848;
}
@media (min-width: 1200px) {
  .description {
    max-width: 930px;
    min-height: 105px;
    font-family: Roboto-regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #494848;
    padding: 0;
  }
}

h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
}
@media (min-width: 1200px) {
  h2, h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    min-height: 60px;
  }
}

.contacts {
  background: #F7F9FB;
  min-height: 237px;
}
@media (min-width: 1200px) {
  .contacts {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    overflow-x: hidden;
    background: #F7F9FB;
  }
}

.h2-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
  padding-top: 40px;
}
@media (min-width: 1200px) {
  .h2-contact {
    min-width: 225px;
    min-height: 60px;
    padding: 0;
    margin-top: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    /* Black */
    color: #1B1B1B;
  }
}

.index-columns {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .index-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .contacts .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 340px;
  }
}

.email-section {
  margin-top: 5px;
  margin-bottom: 24px;
  min-width: 264px;
}
@media (min-width: 1200px) {
  .email-section {
    margin: 0 auto;
    min-height: 56px;
    min-width: 265px;
  }
}

.email {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 147.3%;
  /* identical to box height, or 18px */
  text-align: center;
  /* Gray 2 */
  color: #4F4F4F;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .email {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    color: #4F4F4F;
    padding-bottom: 6px;
    min-width: 264px;
    margin: 0 auto;
  }
}

.phone {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height: 147.3%;
  /* identical to box height, or 18px */
  text-align: center;
  /* Gray 2 */
  margin-top: -3px;
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  .phone {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    color: #4F4F4F;
    padding-bottom: 6px;
    min-width: 264px;
    margin: 0 auto;
  }
}

.email-block, .phoneNumber {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  /* identical to box height, or 21px */
  text-align: center;
  color: #000000;
}
@media (min-width: 1200px) {
  .email-block, .phoneNumber {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
}

.rectangle {
  width: 1px;
  height: 1px;
  background: transparent;
}
@media (min-width: 1200px) {
  .rectangle {
    width: 1px;
    height: 65px;
    margin: -7px 67px;
    background: #C8C8CF;
  }
}

.phone-section {
  margin: 0 auto;
  min-width: 264px;
}
@media (min-width: 1200px) {
  .phone-section {
    min-height: 56px;
    min-width: 265px;
  }
}

.section-contacts {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .section-contacts {
    margin-top: 80px;
    min-width: 100vw;
  }
}

.phoneNumber {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  /* identical to box height, or 21px */
  text-align: center;
  color: #000000;
}
@media (min-width: 1200px) {
  .phoneNumber {
    font-size: 20px;
    line-height: 147.3%;
    text-align: center;
    min-width: 264px;
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .team .container {
    width: 980px;
  }
}

.h3-team {
  margin-top: 40px;
  min-height: 30px;
  margin-bottom: 29px;
}
@media (min-width: 1200px) {
  .h3-team {
    margin-top: 75px;
    margin-bottom: 40px;
    min-height: 80px;
  }
}

.container .team-wrapper {
  min-width: 100vw;
  min-height: 474px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}
@media (min-width: 1200px) {
  .container .team-wrapper {
    min-width: 1100px;
    margin: 0 -3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
  }
}

.team img {
  width: 80px;
}
@media (min-width: 1200px) {
  .team img {
    width: 180px;
  }
}

.team-unit {
  margin: 0px -20px;
  min-width: 170px;
  min-height: 140px;
}
@media (min-width: 1200px) {
  .team-unit {
    margin: 0px 40px 60px 40px;
  }
}

@media (min-width: 1200px) {
  .team-unit > img:nth-child(-n+2) {
    margin: 0 1px;
  }
}

.unit__initials {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.3%;
  /* identical to box height, or 24px */
  margin-top: 11px;
  text-align: center;
  color: #000000;
}
@media (min-width: 1200px) {
  .unit__initials {
    font-family: Roboto;
    margin-top: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 147.3%;
    /* or 29px */
    text-align: center;
    color: #000000;
  }
}

.unit__prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 147.3%;
  /* identical to box height, or 18px */
  margin-top: 3px;
  text-align: center;
  color: #828282;
}
@media (min-width: 1200px) {
  .unit__prof {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top: 8px;
    font-size: 14px;
    line-height: 147.3%;
    /* identical to box height, or 21px */
    text-align: center;
    color: #828282;
  }
}

/* footer */
/* modal__form  */

/*# sourceMappingURL=style.css.map */
