body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 5  \2502  \250c    @include xl {\a 6  \2502  \2502      line-height: 1.15;\a 7  \2502  \2502      /* 1 */\a 8  \2502  \2502      -webkit-text-size-adjust: 100%;\a 9  \2502  \2502      /* 2 */\a 10 \2502  \2502      text-align: center;\a 11 \2502  \2502      display: flex;\a 12 \2502  \2502      flex-direction: column;\a 13 \2502  \2502      align-content: center;\a 14 \2502  \2502      align-items: center;\a 15 \2502  \2502      overflow-x: hidden;\a 16 \2502  \2502  \a 17 \2502  \2502  \a 18 \2502  \2502  \a 19 \2502  \2514    }\a    \2575 \a   normalize.scss 5:3  root stylesheet";
}
