/* Error: Undefined mixin.
 *    ,
 * 4  | /   @include xl {
 * 5  | |     //position: fixed;
 * 6  | |     //top: 0;
 * 7  | |     background: #fff;
 * 8  | |     z-index: 1;
 * 9  | |     opacity: 0.95;
 * 10 | |   }}
 *    | '---^
 *    '
 *   header.scss 4:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 4  \2502  \250c    @include xl {\a 5  \2502  \2502      //position: fixed;\a 6  \2502  \2502      //top: 0;\a 7  \2502  \2502      background: #fff;\a 8  \2502  \2502      z-index: 1;\a 9  \2502  \2502      opacity: 0.95;\a 10 \2502  \2502    }}\a    \2502  \2514 \2500 \2500 \2500 ^\a    \2575 \a   header.scss 4:3  root stylesheet";
}
