@charset "UTF-8";
/* desktop */
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "icon";
  src: url("../fonts/icon.eot");
  src: url("../fonts/icon.eot?#iefix") format("embedded-opentype"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"), url("../fonts/icon.svg#icon") format("svg");
}
[class*=icon-]:before {
  display: inline-block;
  font-family: "icon";
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "A";
}

.icon-vk:before {
  content: "B";
}

.icon-insta:before {
  content: "C";
}

.icon-facebook:before {
  content: "D";
}

.icon-close:before {
  content: "E";
}

.icon-down:before {
  content: "F";
}

.icon-up:before {
  content: "G";
}

.icon-cursor:before {
  content: "H";
}

.icon-leftarrow:before {
  content: "I";
}

.icon-calend:before {
  content: "K";
}

.icon-star:before {
  content: "N";
}

.icon-isofix:before {
  content: "O";
}

.icon-airbag:before {
  content: "P";
}

.icon-webasto:before {
  content: "Q";
}

.icon-auxcable:before {
  content: "R";
}

.icon-bluetooth:before {
  content: "S";
}

.icon-cruise:before {
  content: "T";
}

.icon-condition:before {
  content: "U";
}

.icon-multimedia:before {
  content: "V";
}

.icon-navigation:before {
  content: "W";
}

.icon-checked:before {
  content: "X";
}

.icon-leftarr:before {
  content: "Y";
}

.icon-rightarr:before {
  content: "Z";
}

.icon-price:before {
  content: "a";
}

.icon-dollar:before {
  content: "b";
}

.icon-percent:before {
  content: "c";
}

.icon-cash:before {
  content: "d";
}

html {
  max-width: 100%;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow-x: hidden;
  }
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-size: 16px;
    line-height: 20px;
    color: #1B1B1B;
    text-align: center;
    max-height: 2180px;
  }
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  max-width: 100%;
  margin-top: 37px;
}
@media (min-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 19px;
  /* identical to box height */
  /* Black */
  color: white;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  height: auto;
  border-style: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* generic style*/
.is-animated {
  transition: all 500ms ease-in;
}

header {
  position: relative;
  margin-bottom: 0px;
}
@media (min-width: 1200px) {
  header {
    background: #fff;
    z-index: 1;
    opacity: 0.95;
  }
}

.main-header {
  margin-top: -9px;
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 100%;
    margin-bottom: 0;
  }
}

.main-navigation-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .main-navigation-wrapper {
    width: 1440px;
    margin-bottom: 46px;
    min-height: 90px;
    margin-top: -8px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}

.container-header {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  justify-content: space-between;
  padding: 0 20px;
}
@media (min-width: 1200px) {
  .container-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-width: 1440px;
    flex-direction: row;
  }
}

.main-header-logo {
  min-height: 40px;
  margin-top: 1px;
  margin-left: 2px;
}
@media (min-width: 1200px) {
  .main-header-logo {
    align-self: center;
    width: 120px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  p {
    width: 120px;
  }
}

@media (min-width: 1200px) {
  .main-link {
    list-style: none;
    margin: 0 auto;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .img-logo {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .img-logo:hover {
    transform: scale(1.2);
    background-color: #dbd6d6;
  }
}

.main-header li {
  list-style: none;
}

@media (min-width: 1200px) {
  .menu-navigation {
    margin-right: -26px;
    display: flex;
    width: 500px;
  }
}

.site-navigation, .user-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .site-navigation, .user-navigation {
    min-height: 90px;
  }
}

.main-navigation-wrapper .container .menu-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .main-navigation-wrapper .container .menu-navigation {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    padding-right: 17px;
  }
}

.user-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .user-navigation {
    display: flex;
    text-align: center;
  }
}

.site-navigation a, .user-navigation a {
  display: none;
}
@media (min-width: 1200px) {
  .site-navigation a, .user-navigation a {
    display: flex;
    padding: 12px 15px;
    vertical-align: middle;
    font-family: Roboto-medium, serif, serif;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    color: #1B1B1B;
  }
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #dbd6d6;
  padding: 12px 20px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #dbd6d6;
  padding: 12px 30px;
}

.user-navigation .login-link {
  display: none;
}
@media (min-width: 1200px) {
  .user-navigation .login-link {
    display: flex;
    padding: 12px 30px;
    width: 106px;
    height: 43px;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
  }
}

.site-navigation {
  display: none;
}
@media (min-width: 1200px) {
  .site-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .user-navigation {
    align-items: center;
    margin: 0 25px;
    padding: 0;
    list-style: none;
  }
}

.is-animated {
  transition: all 500ms ease-in;
}

.is-desktop {
  display: none;
}
@media (min-width: 1200px) {
  .is-desktop {
    display: block;
  }
}

h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
}

@media only screen and (min-width: 768px) {
  h2, h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    min-height: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .is-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .is-desktop {
    display: none;
  }

  .is-tablet {
    display: none;
  }

  body {
    width: 100vw;
  }

  .is-mobile {
    max-width: 335px;
    font-family: Roboto-regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #494848;
    margin: 8px 3px;
  }
}
.main-footer {
  margin-top: 58px;
  position: relative;
  min-width: 100vw;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  min-height: 126px;
  background: #3f3d56;
}
@media (min-width: 1200px) {
  .main-footer {
    position: relative;
    min-width: 100vw;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    margin-top: 60px;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 126px;
    background: #3f3d56;
  }
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
@media (min-width: 1200px) {
  .main-footer .container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
    align-content: center;
  }
}

.copyright-wrap {
  margin-left: -3px;
}
@media (min-width: 1200px) {
  .copyright-wrap {
    margin-left: 0;
    align-self: center;
    text-align: center;
  }
}

.footer__copyright {
  width: 155px;
  font-family: Roboto-regular, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.4;
  left: 0;
  margin: 10px 0 auto;
}
@media (min-width: 1200px) {
  .footer__copyright {
    width: 155px;
    font-family: Roboto-regular, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.4;
    left: 0;
    margin-left: 38px;
    margin-top: 2px;
  }
}

.footer__social-links {
  margin: 5px -8px auto;
  display: flex;
  justify-content: space-around;
  width: 137px;
  align-items: center;
  height: 50px;
  background: #3f3d56;
  line-height: 19px;
  font-size: 28px;
}
@media (min-width: 1200px) {
  .footer__social-links {
    display: flex;
    justify-content: space-around;
    width: 137px;
    align-items: center;
    height: 50px;
    background: #3f3d56;
    line-height: 19px;
    margin: 0 34px 0 0;
    font-size: 28px;
  }
}

.footer__social-links a:hover {
  transform: scale(1.4);
  color: #dcc59e;
  cursor: pointer;
}

.menu__button {
  font-size: 32px;
  color: #000066;
}

.menu__mobile.is-active {
  top: 10px;
  background: #FFFFFF;
  opacity: 1;
  pointer-events: all;
}

.menu__mobile {
  min-width: 99Vw;
  height: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  opacity: 0;
  pointer-events: none;
}

.menu__mobile-link {
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  line-height: 42px;
  display: block;
  text-align: left;
  margin: 50px 20px;
  cursor: pointer;
}

.is-animated {
  transition: all 500ms ease-in-out;
}

a.menu__mobile.is-animated {
  position: relative;
  font-size: 34px;
  line-height: 40px;
  display: block;
  color: #222;
  text-align: left;
  margin-bottom: 35px;
  width: 290px;
}

.menu__mobile-close.icon-close.is-mobile {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  /*z-index: 1;*/
}

.menu__mobile-wrapper {
  position: relative;
  border: 1px solid rgba(178, 187, 187, 0.5);
  background: #fff;
}

.menu__mobile-wrapper div {
  align-items: center;
}

.modal__form {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .modal__form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
  }
}

.modal__form.is-active {
  opacity: 1;
  pointer-events: all;
}
@media (min-width: 1200px) {
  .modal__form.is-active {
    opacity: 1;
    pointer-events: all;
  }
}

.modal__form.is-closed {
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 1200px) {
  .modal__form.is-closed {
    opacity: 0;
    pointer-events: none;
  }
}

.modal__form.is-active .modal__form-wrapper {
  transform: translateY(0);
}
@media (min-width: 1200px) {
  .modal__form.is-active .modal__form-wrapper {
    transform: translateY(0);
  }
}

.modal__form.is-closed .modal__form-wrapper {
  transform: translateY(-150%);
}
@media (min-width: 1200px) {
  .modal__form.is-closed .modal__form-wrapper {
    transform: translateY(-150%);
  }
}

.modal__form-wrapper {
  background: #fff;
  position: absolute;
  top: 0;
  width: 370px;
  min-height: 668px;
  transform: translateY(100%);
  transition-delay: 500ms;
  z-index: 10;
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .modal__form-wrapper {
    background: #fff;
    position: absolute;
    top: 0;
    width: 504px;
    min-height: 668px;
    margin-top: 100px;
    transform: translateY(100%);
    transition-delay: 500ms;
    z-index: 10;
    border-radius: 10px;
  }
}

.sign__in__img {
  width: 220px;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .sign__in__img {
    margin-top: -17px;
    width: 302px;
    margin-bottom: 5px;
  }
}

.modal__form-form {
  width: 370px;
  height: 668px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  z-index: 3;
  border-radius: 10px;
}
@media (min-width: 1200px) {
  .modal__form-form {
    width: 504px;
    height: 668px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    z-index: 3;
    border-radius: 10px;
  }
}

input {
  width: 350px;
  height: 44px;
  border: 1px solid #D0CDE1;
  box-sizing: border-box;
  border-radius: 6px;
  padding-inline: 12px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1B1B1B;
}
@media (min-width: 1200px) {
  input {
    width: 350px;
    height: 44px;
    border: 1px solid #D0CDE1;
    box-sizing: border-box;
    border-radius: 6px;
    padding-inline: 10px;
    margin-bottom: 12px;
    margin-top: 8px;
  }
}

.password__wrap {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* Black */
  color: #1B1B1B;
}
@media (min-width: 1200px) {
  .password__wrap {
    display: flex;
    width: 350px;
    border: 1px solid #D0CDE1;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 20px;
  }
}

.forgot__password {
  display: block;
  margin-top: -50px;
  border: none;
  background: transparent;
  align-self: flex-end;
  margin-right: 20px;
  z-index: 20;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 4px;
  color: #508E87;
}
@media (min-width: 1200px) {
  .forgot__password {
    display: block;
    color: #508E87;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: -40px;
    border: none;
    background: transparent;
    align-self: flex-end;
    margin-right: 94px;
    z-index: 20;
  }
  .forgot__password.forgot__password:hover {
    transform: scale(1.3);
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .forgot__password {
    transform: scale(1.2);
  }
}

.autorize {
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #1B1B1B;
}
@media (min-width: 1200px) {
  .autorize {
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 10px;
    min-height: 60px;
  }
}

.modal__form-send {
  width: 335px;
  height: 51px;
  background: #E5E7F0;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #B4B5BD;
  outline: none;
  border: none;
  font-family: Roboto-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
}
@media (min-width: 1200px) {
  .modal__form-send {
    width: 126px;
    height: 51px;
    background: #E5E7F0;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #B4B5BD;
    border: none;
    outline: none;
  }
}

.modal__form-close.icon-close {
  margin: 15px 15px 28px;
  align-self: flex-end;
  color: #828282;
  font-size: 36px;
}
@media (min-width: 1200px) {
  .modal__form-close.icon-close {
    align-self: flex-end;
    margin: 15px 15px 28px;
    color: #828282;
    font-size: 36px;
    top: 0;
  }
}

.modal__form-close.icon-close:hover {
  transform: scale(1.2);
  background-color: #dbd6d6;
  border: 1px solid rgba(27, 27, 27, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .modal__form-close.icon-close:hover {
    transform: scale(1.2);
    background-color: #dbd6d6;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
  }
}

.modal__form_rectangle {
  width: 335px;
  height: 1px;
  background: #DEDBF1;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .modal__form_rectangle {
    width: 350px;
    height: 1px;
    margin-bottom: 30px;
    background: #DEDBF1;
  }
}

.register-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 15px;
  color: #508E87;
}
@media (min-width: 1200px) {
  .register-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin-bottom: 30px;
    color: #508E87;
  }
}

html {
  overflow-x: hidden;
  min-height: 1200px;
}

.main-header-logo {
  margin-left: 0px;
}

main {
  align-content: center;
  margin-top: 7px;
}

img.main-page-logo {
  max-width: 242px;
  align-self: center;
  padding: 0;
  margin-top: 28px;
}
@media (min-width: 1200px) {
  img.main-page-logo {
    min-width: 360px;
    margin: -1px auto;
    align-self: center;
  }
}

.faq-section {
  margin: 0 -3px 30px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .faq-section {
    margin: 0 0 46px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  margin: 39px 0 9px 0;
  min-height: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
@media (min-width: 1200px) {
  h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    margin-top: 60px;
    min-height: 77px;
    margin-bottom: 31px;
  }
}

.description {
  max-width: 335px;
  font-family: Roboto-regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #494848;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .description {
    max-width: 930px;
    min-height: 105px;
    font-family: Roboto-regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #494848;
    padding-left: 6px;
  }
}

.question-section {
  margin-top: 30px;
  max-width: 335px;
}
@media (min-width: 1200px) {
  .question-section {
    max-width: 1026px;
    margin-top: -10px;
  }
}

.collapse {
  width: 335px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 15px 20px;
  cursor: url("cursor.png"), pointer;
  margin-bottom: 15px;
  background: #F7F7F8;
  border-radius: 6px;
  color: black;
  text-align: left;
  height: 100%;
  line-height: 1.5em;
  font-family: Roboto-regular;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .collapse {
    width: 1026px;
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13px 0 22px;
    cursor: url("cursor.png"), pointer;
    margin-bottom: 14px;
    background: #F7F7F8;
    border-radius: 6px;
    margin-left: 0;
    line-height: 150%;
    font-family: Roboto-regular;
    font-size: 20px;
    color: black;
  }
}

.collapse:after {
  content: "‹";
  color: #A0A7AD;
  font-weight: bold;
  margin-left: 5px;
  transform: rotate(-90deg);
  font-size: 2em;
  margin-right: 10px;
  text-align: right;
}
@media (min-width: 1200px) {
  .collapse:after {
    text-align: right;
    content: "‹";
    color: #A0A7AD;
    font-weight: bold;
    margin-left: 5px;
    transform: rotate(-90deg);
    font-size: 2.2em;
    margin-right: 20px;
  }
}

button:hover {
  background: rgba(97, 161, 153, 0.1);
  transition: all 0.3s ease-out;
}
@media (min-width: 1200px) {
  button:hover {
    background: rgba(97, 161, 153, 0.1);
    transition: all 0.3s ease-out;
  }
}

button:not(.active) {
  border: none;
  background: #F7F7F8;
  transition: all 0.3s ease-out;
}
@media (min-width: 1200px) {
  button:not(.active) {
    border: none;
    transition: all 0.3s ease-out;
    background: #F7F7F8;
  }
}

button:focus {
  background: rgba(97, 161, 153, 0.15);
}
@media (min-width: 1200px) {
  button:focus {
    background: rgba(97, 161, 153, 0.15);
  }
}

button.active {
  background: rgba(97, 161, 153, 0.15);
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5em;
  color: #61A199;
  border: none;
  outline: none;
  transition: all 0.3s ease-out;
}
@media (min-width: 1200px) {
  button.active {
    background: rgba(97, 161, 153, 0.15);
    white-space: nowrap;
    /* Text M */
    transition: all 0.3s ease-out;
    border-radius: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 147.3%;
    color: #61A199;
    border: none;
    outline: none;
  }
}

.active, .collapse:hover {
  background-color: rgba(97, 161, 153, 0.15);
  border-radius: 6px;
  border: none;
}

.active:after {
  content: "›";
  color: #61A199;
}

.content {
  max-height: 0;
  outline: none;
  width: 250px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background: rgba(97, 161, 153, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 147.3%;
  color: #1B1B1B;
  background: white;
  text-align: left;
  margin-left: 20px;
  border: none;
}
@media (min-width: 1200px) {
  .content {
    width: 784px;
    max-height: 0;
    overflow: hidden;
    max-width: 850px;
    transition: max-height 0.3s ease-out;
    background: rgba(97, 161, 153, 0.15);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 147.3%;
    color: #1B1B1B;
    align-items: center;
    justify-content: flex-start;
    background: white;
    text-align: left;
    margin-left: 20px;
    border: none;
  }
}

.style-active {
  width: 250px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: white;
  margin-top: 0;
  margin-left: 20px;
  text-align: left;
}
@media (min-width: 1200px) {
  .style-active {
    width: 784px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
}

/*# sourceMappingURL=faq.css.map */
