


.modal__form {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  @include  xl{

  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
}}

.modal__form.is-active {
  opacity: 1;
  pointer-events: all;

  @include  xl {
    opacity: 1;
    pointer-events: all;
  }
}

.modal__form.is-closed {
  opacity: 0;
  pointer-events: none;

  @include  xl {
    opacity: 0;
    pointer-events: none;
  }
}

.modal__form.is-active .modal__form-wrapper {
  transform: translateY(0);
  @include  xl{
  transform: translateY(0);
}}

.modal__form.is-closed .modal__form-wrapper {
  transform: translateY(-150%);
  @include  xl{
  transform: translateY(-150%);
}}


.modal__form-wrapper {
  background: #fff;
  position: absolute;
  top: 0;
  width:370px;
 min-height: 668px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  transform: translateY(100%);
  transition-delay: 500ms;
  z-index: 10;
  border-radius: 10px;

  @include  xl{
  background: #fff;
  position: absolute;
  top: 0;
 width: 504px;

    min-height: 668px;
  margin-top: 100px;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  transform: translateY(100%);
  transition-delay: 500ms;
  z-index: 10;
  border-radius: 10px;
}}


.sign__in__img {
  width: 220px;
  margin-top: 20px;
  @include xl{
    margin-top: -17px;
    width: 302px;
    margin-bottom: 5px;
  }

}
.modal__form-form {
 width: 370px;
  height: 668px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  border: 1px solid lightgrey;
  z-index: 3;
  border-radius: 10px;

  @include  xl{
  width: 504px;
  height: 668px;

  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  border: 1px solid lightgrey;
  z-index: 3;
  border-radius: 10px;
}}

input {
  width: 350px;
  height: 44px;
  border: 1px solid #D0CDE1;
  box-sizing: border-box;
  border-radius: 6px;
  padding-inline: 12px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #1B1B1B;
  @include  xl{
    width: 350px;
    height: 44px;
    border: 1px solid #D0CDE1;
    box-sizing: border-box;
    border-radius: 6px;
    padding-inline: 10px;
    margin-bottom: 12px;
    margin-top: 8px;
}}

.password__wrap {

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  /* Black */

  color: #1B1B1B;
  @include  xl{
  display: flex;
  width: 350px;
  border: 1px solid #D0CDE1;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 20px;
}}



.forgot__password {
  display: block;
   margin-top: -50px;
  border: none;
  background: transparent;
  align-self: flex-end;
  margin-right: 20px;
  z-index: 20;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 4px;
  color: #508E87;
  @include  xl{
  display: block;
  color: #508E87;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: -40px;
    border: none;
    background: transparent;
    align-self: flex-end;
    margin-right: 94px;
    z-index: 20;

  &.forgot__password:hover {
    transform: scale(1.3);
  }
    @include  xl{
    transform: scale(1.2);
  }}
}


.passform {
  //border: none;

}

.autorize {
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #1B1B1B;
  @include  xl{
  font-weight: 500;
  font-size: 32px;
  line-height: 34px;
    margin-bottom: 10px;
    min-height: 60px;


}}

.modal__form-send {
  width: 335px;
  height: 51px;
  background: #E5E7F0;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #B4B5BD;
  outline: none;
  border: none;
  font-family: Roboto-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  @include  xl{
  width: 126px;
  height: 51px;
  background: #E5E7F0;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 40px;
    color: #B4B5BD;
    border: none ;
    outline: none;
}}

.modal__form-close.icon-close {
  margin: 15px 15px 28px;
  align-self: flex-end;
  color: #828282;
  font-size: 36px;

  @include  xl {
    align-self: flex-end;
    margin: 15px 15px 28px;

    color: #828282;
    font-size: 36px;
    top: 0;
  }
}

.modal__form-close.icon-close:hover {
  transform: scale(1.2);
  background-color: #dbd6d6;
  border: 1px solid rgba(27, 27, 27, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  @include  xl {
    transform: scale(1.2);
    background-color: #dbd6d6;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
  }
}

.modal__form_rectangle {
  width: 335px;
  height: 1px;
  background: #DEDBF1;
  margin-bottom: 30px;
  @include  xl{
  width: 350px;
  height: 1px;
    margin-bottom: 30px;
  background: #DEDBF1;
}}

.register-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin-bottom: 15px;
  color: #508E87;
  @include xl{

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    margin-bottom: 30px;
    color: #508E87;

  }
}