/* Error: Undefined mixin.
 *    ,
 * 16 | /   @include  xl{
 * 17 | |
 * 18 | |   width: 100vw;
 * 19 | |   height: 100vh;
 * 20 | |   position: fixed;
 * 21 | |   left: 0;
 * 22 | |   top: 0;
 * 23 | |   z-index: 1;
 * 24 | |   opacity: 0;
 * 25 | |   pointer-events: none;
 * 26 | |   display: flex;
 * 27 | |   justify-content: center;
 * 28 | | }}
 *    | '-^
*'
*form.scss 16:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 16 \2502  \250c    @include  xl{\a 17 \2502  \2502  \a 18 \2502  \2502    width: 100vw;\a 19 \2502  \2502    height: 100vh;\a 20 \2502  \2502    position: fixed;\a 21 \2502  \2502    left: 0;\a 22 \2502  \2502    top: 0;\a 23 \2502  \2502    z-index: 1;\a 24 \2502  \2502    opacity: 0;\a 25 \2502  \2502    pointer-events: none;\a 26 \2502  \2502    display: flex;\a 27 \2502  \2502    justify-content: center;\a 28 \2502  \2502  }}\a    \2502  \2514 \2500 ^\a    \2575 \a   form.scss 16:3  root stylesheet";
}
