header {
  position: relative;
  margin-bottom: 0px;
  @include xl {
    //position: fixed;
    //top: 0;
    background: #fff;
    z-index: 1;
    opacity: 0.95;
  }}



.main-header {

  margin-top: -9px;

  @include xl { max-width: 100%;

    margin-bottom: 0;
    }
}


.main-navigation-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  @include xl {
    width: 1440px;
    margin-bottom: 46px;
    min-height: 90px;
    margin-top: -8px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

  }}

.container-header {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  justify-content: space-between;
  padding: 0 20px;
  @include xl {
    display: flex;
    justify-content: space-between;

    margin: 0;
  min-width: 1440px;
    flex-direction: row;


  }
}


.main-header-logo {
  min-height: 40px;
  margin-top: 1px;
  margin-left: 2px;

  @include xl {
    align-self: center;
    width: 120px;
    padding-left: 15px;

  }
}

p {

  @include xl {
    width: 120px;
  }
}

.main-link {
  @include xl{
    list-style: none;
    margin: 0 auto;
    cursor: pointer;
  }}


.img-logo {
  @include xl{
    margin-top: 8px;
  }}

.img-logo:hover {
  @include xl {
    transform: scale(1.2);
    background-color: #dbd6d6;

  }}

.main-header li {
  list-style: none;
}

.menu-navigation {
  @include xl {
    margin-right: -26px;
    display: flex;
    width: 500px;
  }}
  li.active {
    content: "";
  }
.site-navigation, .user-navigation {
  display: none;

  @include xl {
    min-height: 90px;}
}

.main-navigation-wrapper .container .menu-navigation {

  display: none;
  @include xl{ display: flex;
    width: 500px;
    justify-content: space-evenly;
    padding-right: 17px;}

}
a.is-active.active::after {
  content: none;
}

.site-navigation a.is-active.active::after{
  content: none;
}

.user-navigation {
  display: none;
  @include xl {
    display: flex;
    text-align: center;
  }
}
.site-navigation a, .user-navigation a {
  display: none;
  @include xl{
    display: flex;
    padding: 12px 15px;
    vertical-align: middle;
    font-family: Roboto-medium, serif, serif;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    list-style: none;

    color: #1B1B1B;
  }}


// .site-navigation a:hover,
//  a:focus,
// {  background-color: #dbd6d6;
//   padding: 12px 20px;
//   content:""
// }

.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #dbd6d6;
  padding: 12px 30px;}

.user-navigation a::after {
  content: none;
}


.user-navigation .login-link {
  display: none;
  @include xl{
    display: flex;
    padding: 12px 30px;
    width: 106px;
    height: 43px;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
  }}


.site-navigation {
  display: none;
  @include xl{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
  }}

.user-navigation {

  @include xl{

    align-items: center;
    margin: 0 25px;
    padding: 0;
    list-style: none;
  }}