@import "./mixins.scss";
@import "./fonts.scss";
@import "./normalize.scss";
@import "./header.scss";
@import "./generic.scss";
@import "./footer.scss";
@import "./mobile-menu.scss";
@import "./form.scss";
html {
  overflow-x: hidden;
  min-height: 1200px;
}
//header
.about-section {
  margin: 0 -3px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .about-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.main-page-logo {
  width: 267px;
  align-self: center;
  @include xl{
    width: 397px;
  }
}
.container-about {
  display: flex;
  flex-direction: column;
  @include xl {
    margin: 0 auto;
    text-align: center;
  }
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  margin: 39px 0 9px 0;
  min-height: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  @include xl {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    margin-top: 60px;
    min-height: 77px;
    margin-bottom: 30px;
  }
}
header {
  position: relative;
  margin-bottom: -3px;
  @include xl{

  }
}

.description {
  padding-left: 20px;
  max-width: 340px;
  font-family: Roboto-regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #494848;

@include xl {
    max-width: 930px;
    min-height: 105px;
    font-family: Roboto-regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #494848;
    padding: 0;

  }
}

h2, h3 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height, or 29px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
  @include xl {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    min-height: 60px;
  }
}

.contacts {
  background: #F7F9FB;
  min-height: 237px;
  @include xl {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(-50%);
    overflow-x: hidden;
    background: #F7F9FB;
  }
}

.h2-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height, or 29px */
  text-align: center;
  /* Black */
  color: #1B1B1B;
  padding-top: 40px;
  @include xl {
    min-width: 225px;
    min-height: 60px;
    padding: 0;
    margin-top: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height, or 58px */
    text-align: center;
    /* Black */
    color: #1B1B1B;
  }
}

.index-columns {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .index-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}


  .contacts .container {
    @include xl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 340px;
  }
}

.email-section {
  margin-top: 5px;
  margin-bottom: 24px;
  min-width: 264px;
  @include xl {
    margin: 0 auto;
    min-height: 56px;
    min-width: 265px;
  }
}
.email {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height:18px;
  /* identical to box height, or 18px */
  text-align: center;
  /* Gray 2 */
  color: #4F4F4F;
  margin-bottom: 5px;
  @include xl {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height:18px;
    color: #4F4F4F;
    padding-bottom: 6px;
    min-width: 264px;
    margin: 0 auto;
  }
}

.phone {
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  line-height:18px;
  /* identical to box height, or 18px */
  text-align: center;
  /* Gray 2 */
  margin-top: -3px;
  margin-bottom: 5px;
  @include xl {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height:18px;
    color: #4F4F4F;
    padding-bottom: 6px;
    min-width: 264px;
    margin: 0 auto;
  }
}

.email-block, .phoneNumber {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 21px */
  text-align: center;
  color: #000000;
  @include xl {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #000000;
  }
}

.rectangle {
  width: 1px;
  height: 1px;
  background: transparent;
  @include xl {
    width: 1px;
    height: 65px;
    margin: -7px 67px;
    background: #C8C8CF;
  }
}

.phone-section {
  margin: 0 auto;
  min-width: 264px;
  @include xl {
    min-height: 56px;
    min-width: 265px;
  }
}

.section-contacts {
  margin-top: 40px;
  @include xl {
    margin-top: 80px;
    min-width: 100vw;
  }
}

.phoneNumber {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height:21px;
  /* identical to box height, or 21px */
  text-align: center;
  color: #000000;
  @include xl {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    min-width: 264px;
    color: #000000;
  }
}

@include xl {
  .team .container {
    width: 980px;
  }
}

.h3-team {
  margin-top: 40px;
  min-height: 30px;
  margin-bottom: 29px;
  @include xl {
    margin-top: 75px;
    margin-bottom: 40px;
    min-height: 80px;
  }
}

.container .team-wrapper {
  min-width: 100vw;
  min-height: 474px;
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;

@include xl {
    min-width: 1100px;
    margin: 0 -3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
  }
}

.team img {
  width: 80px;
@include xl {
      width: 180px;
  }
}

.team-unit {
  margin: 0px -20px;
  min-width: 170px;
  min-height: 140px;
  @include xl {
    margin: 0px 40px 60px 40px;
  }
}

@include xl  {
  .team-unit > img:nth-child(-n+2) {
    margin: 0 1px;
  }
}

.unit__initials {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height:24px;
  /* identical to box height, or 24px */
  margin-top: 11px;
  text-align: center;
  color: #000000;
  @include xl {
    font-family: Roboto;
    margin-top: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height:29px;
    /* or 29px */
    text-align: center;
    color: #000000;
  }
}

.unit__prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 18px */
  margin-top: 3px;
  text-align: center;
  color: #828282;

@include xl {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top: 8px;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 21px */
    text-align: center;
    color: #828282;
  }
}

